<%- include('common/header'); %>
    <%- include('common/left_sidebar'); %>
        <div class="bg-white shadow-sm p-2">
            <div>
                <h6 class="py-1 m-0 text-center fw-bold">WELCOME TO MANUSCRIPT SUBMISSION PORTAL</h6>
                <div style="border-top:3px solid green;border-bottom:3px solid green;"
                    class="py-3 mt-2 px-2 bg-light mb-0">
                    <p class="py-2 m-0">Use <a href="/v1/dashboard/submit_new_menuscript">Submit New Manuscript</a> link to submit new manuscript.</p>
                    <p class="py-2 m-0">Your submission progress will be automatically saved which can be resume later
                        using Incomplete Submission link. <a href="">Incomplete submissions</a> will not be considered
                        for review and will be deleted.</p>
                    <p class="py-2 m-0">After successful submissions, manuscript will be moved to Submission Under
                        Review Folder</p>
                </div>
            </div>
        </div>
        <%- include('common/footer'); %>