<%- include('common/header'); %>
    <%- include('common/left_sidebar'); %>
        <div class="bg-white shadow-sm mb-4">
            <p class="m-0 p-2 fw-bold"><a href="editor_required_review_completed">Required Review Completed</a> <i
                    class="fa fa-angle-right fs-6 fw-bold"></i> <span class="text-danger">Reviewer Comment</span></p>
            <div>
                <div>
                    <h6 class="fw-bold text-start m-0 p-2">View Reviews and Comments for <span
                            class="text-success m-0">MANUSCRIPT ID: JN200001</span></h6>
                </div>
                <div>
                    <p style="border-bottom: 1px solid #002147; border-top:1px solid #002147;"
                        class="text-start m-0 p-2 fw-bold bg-light">Partially Overlapping Channel Assignment under
                        Coexistence of Bonded and Non-Bonded Channels.</p>
                    <p class="text-start p-2 m-0">Clink the recommendation term to view the comments for the
                        submission..</p>
                    <div>
                        <div class="table-responsive p-2">
                            <table class="table table-sm">
                                <thead>
                                    <tr class="text-white" style="background-color: #2E75B5;">
                                        <td>Reviewer</td>
                                        <td></td>
                                        <td class="border-start">Recommendation</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-start">
                                            Reviewer 1
                                        </td>
                                        <td class="text-start">Mr. X</td>
                                        <td class="border-start">Major Revision</td>
                                        <td class="text-end">
                                            <a data-bs-toggle="modal" data-bs-target="#viewComment" href="">View
                                                Comments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            Reviewer 2
                                        </td>
                                        <td class="text-start">Mr. X</td>
                                        <td class="border-start">Major Revision</td>
                                        <td class="text-end">
                                            <a data-bs-toggle="modal" data-bs-target="#viewComment" href="">View
                                                Comments</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-start">
                                            Handling Editor
                                        </td>
                                        <td class="text-start">Mr. Editor</td>
                                        <td class="border-start"></td>
                                        <td class="text-end">
                                            <a data-bs-toggle="modal" data-bs-target="#viewComment" href=""></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Reviewer Comment Modal -->
        <div class="modal fade" id="viewComment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div style="border-bottom: 1px solid green;" class="modal-header py-1">
                        <h5 class="modal-title m-0" id="exampleModalLabel">Reviews and Comments for <span
                                class="text-success">Manuscript: JN_200001</span></h5>
                        <button type="button" class="btn-close bnt-sm" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body p-0">
                        <p class="px-3 py-2 m-0 border-bottom bg-light">Partially Overlapping Channel Assignment under
                            Coexistence of Bonded and Non-Bonded Channels.</p>
                        <p class="px-3 py-2 border-bottom m-0"><span class="text-danger">Reviewer 1:</span> Md Selim Al
                            Mamun</p>
                        <div class="row px-3 py-2">
                            <div class="col-6 text-success">
                                <p class="m-0 p-0">Overall Manuscript Rating:</p>
                            </div>
                            <div class="col-6">
                                <p class="m-0 p-0">Major Revision</p>
                            </div>
                        </div>
                        <div class="table-responsive px-3">
                            <table class="table table-sm">
                                <tbody>
                                    <tr class="text-white" style="background-color: #2E75B5;">
                                        <td>Manuscrip rating questions</td>
                                        <td class="text-center">Scale</td>
                                        <td class="text-center">Rating</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Does this manuscript fit the scope of the journal?
                                        </td>
                                        <td class="text-center">
                                            0-4
                                        </td>
                                        <td class="text-success text-center">
                                            <a href="">2</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Does this manuscript fit the scope of the journal?
                                        </td>
                                        <td class="text-center">
                                            0-4
                                        </td>
                                        <td class="text-success text-center">
                                            <a href="">2</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Does this manuscript fit the scope of the journal?
                                        </td>
                                        <td class="text-center">
                                            0-4
                                        </td>
                                        <td class="text-success text-center">
                                            <a href="">2</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="px-3">
                            <table class="table table-sm">
                                <tbody>
                                    <tr class="text-white" style="background-color: #2E75B5;">
                                        <td>Comment to Editor</td>
                                    </tr>
                                    <tr>
                                        <td>Comment to Editor will go here..</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="px-3">
                            <table class="table table-sm">
                                <tbody>
                                    <tr class="text-white" style="background-color: #2E75B5;">
                                        <td>Comment to Author</td>
                                    </tr>
                                    <tr>
                                        <td>Comment to Author will go here..</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Details Modal -->
        <div class="modal fade" id="details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header align-items-center">
                        <h6 class="fw-bold text-start m-0"><span class="text-success">MANUSCRIPT ID: JN200001</span>
                        </h6>
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <span class="text-white px-1" style="background-color: #001C54;font-size:14px;">Research
                            Article</span>
                        <h5 class="m-0 fw-bold">Magnetic mitohormesis: A non-invasive therapy for inflammatory disorders
                        </h5>
                        <p class="m-0 fw-regular">Rahman, Gazi Arafat Uz-Zaman Markony, Tanjil Ahmed</p>
                        <p class="m-0 pt-2 fw-bold">Correnponding Authors:</p>
                        <div class="table-responsive mt-1">
                            <table class="w-100 custom-table">
                                <thead>
                                    <tr>
                                        <td class="custom-table-head p-2">Name</td>
                                        <td class="custom-table-head p-2 border-start">Email</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-2">Rahman</td>
                                        <td class="p-2 border-start">rahman@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Tanzil</td>
                                        <td class="p-2 border-start">tanzil@gmail.com</td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">Gazi Arafat Uz-Zaman Markony</td>
                                        <td class="p-2 border-start">gazi@gmail.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="m-0 pt-2 fw-bold">Keyword</p>
                        <p class="m-0">Agriculture; Science</p>
                        <p class="m-0 pt-2 fw-bold">Section</p>
                        <p class="m-0">Agriculture</p>
                        <p class="m-0 pt-2 fw-bold">Abstract</p>
                        <p style="text-align: justify;" class="m-0"> An organism’s survival depends on its ability to
                            adapt to stress. Mitochondria are the cellular integrators of environmental stressors that
                            ultimately translate their responses at the organismal level, and are thus central to the
                            process whereby organisms adapt to their respective environments. Mitochondria produce
                            molecular energy via oxidativ</p>
                        <p class="m-0 pt-2 fw-bold">Editorial Status:<span style="font-weight: 400;"> Pending</span></p>
                        <p class="m-0 pt-2 fw-bold">Editor's Info</p>
                        <div class="table-responsive mt-1">
                            <table class="w-100 custom-table">
                                <thead>
                                    <tr>
                                        <td class="custom-table-head p-2">Name</td>
                                        <td class="custom-table-head p-2 border-start">Email</td>
                                        <td class="custom-table-head p-2 border-start">Comment</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-2">Rahman</td>
                                        <td class="p-2 border-start">rahman@gmail.com</td>
                                        <td class="p-2 border-start">Some comments....</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="m-0 pt-2 fw-bold">Reviewer's Info</p>
                        <div class="table-responsive mt-1">
                            <table class="w-100 custom-table">
                                <thead>
                                    <tr>
                                        <td class="custom-table-head p-2">Name</td>
                                        <td class="custom-table-head p-2 border-start">Email</td>
                                        <td class="custom-table-head p-2 border-start">Comment</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="p-2">Rahman</td>
                                        <td class="p-2 border-start">rahman@gmail.com</td>
                                        <td class="p-2 border-start">Some comments....</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <p class="m-0 pt-2 font-weight-bold"><i class="fa fa-calendar"></i> Initial Submission
                            Date:<span style="font-weight: 400;"> 12-5-2022</span></p>
                        <p class="m-0 pt-1 font-weight-bold"><i class="fa fa-calendar"></i> Editorial Status Date:<span
                                style="font-weight: 400;"> 12-5-2022</span></p>
                        <button class="btn btn-success btn-sm mt-2"><i class="fa fa-eye"></i> View Menuscript</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Invite Reviewer Modal -->
        <div class="modal fade" id="inviteReviewerModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header align-items-center border-0">
                        <h6 class="fw-bold text-start m-0">Invite Reviewer for <span class="text-success m-0">MANUSCRIPT
                                ID: JN200001</span></h6>
                        <button type="button" class="btn-close btn-sm" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p style="border-bottom: 1px solid #002147; border-top:1px solid #002147;"
                            class="text-center m-0 p-2 fw-bold bg-light">Partially Overlapping Channel Assignment under
                            Coexistence of Bonded and Non-Bonded Channels.</p>
                        <div class="border position-relative p-0 mb-4 mt-4">
                            <p style="top:-15px;"
                                class="position-absolute m-0 p-0 bg-white px-2 mx-3 text-danger fw-bold">Default Reviwer
                                Settings</p>
                            <div class="bg-light">
                                <table class="border-0 w-100 mt-3">
                                    <tr>
                                        <td class="p-2">The submission will move to Required Review Completed folder if
                                            <span class="text-danger">2 reviews</span> completed.</td>
                                        <td class="p-2 text-center">
                                            <a href="">Change</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">The submission will move to Required Review Completed folder if
                                            <span class="text-danger">2 reviews</span> completed.</td>
                                        <td class="p-2 text-center">
                                            <a href="">Change</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="p-2">The submission will move to Required Review Completed folder if
                                            <span class="text-danger">2 reviews</span> completed.</td>
                                        <td class="p-2 text-center">
                                            <a href="">Change</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="border position-relative p-0 mb-2">
                            <p style="top:-15px;"
                                class="position-absolute m-0 p-0 bg-white px-2 mx-3 text-success fw-bold">Reviewer
                                Search</p>
                            <div class="p-2 mt-3">
                                <form action="">
                                    <div class="row align-items-center">
                                        <div class="col-md-3">
                                            <p class="text-center m-0">SEARCH</p>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <select class="form-select border-0 w-auto"
                                                aria-label="Default select example">
                                                <option selected>Search by section</option>
                                                <option value="1">Search by Reviewers</option>
                                                <option value="2">Search by Authors</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <p class="m-0 text-center">FROM</p>
                                        </div>
                                        <div class="col-md-3 text-center">
                                            <select class="form-select border-0 w-auto"
                                                aria-label="Default select example">
                                                <option selected>All Reviewers</option>
                                                <option value="1">All Editor</option>
                                                <option value="2">Entire Database</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="text-center mt-3">
                                        <button class="btn btn-outline-success btn-sm px-5">Search <i
                                                class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div>
                            <form>
                                <p class="p-2 text-center fw-bold mt-2 m-0">Reviewer Candidate</p>
                                <div class="table-responsive">
                                    <table class="w-100 custom-table">
                                        <thead>
                                            <tr>
                                                <td class="custom-table-head p-2">Select</td>
                                                <td class="custom-table-head p-2 border-start text-center">Reviewer Name
                                                </td>
                                                <td class="text-center custom-table-head p-2 border-start">Editor</td>
                                                <td class="text-center custom-table-head p-2 border-start">Section</td>
                                                <td class="text-start custom-table-head p-2 border-start">Reviewer
                                                    Statistics</td>
                                                <td class="text-start custom-table-head p-2 border-start">Invitation
                                                    Statistics</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="form-check text-center">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault">
                                                    </div>
                                                </td>
                                                <td class="border-start p-2 text-center">Mr. X</td>
                                                <td class="border-start p-2">Yes</td>
                                                <td class="p-2 border-start text-center">Networking</td>
                                                <td class="p-2 border-start text-start">
                                                    Review in Progress <span class="text-danger">(2)</span><br>
                                                    completed Review <span class="text-danger">(2)</span>
                                                </td>
                                                <td class="p-2 border-start text-start">
                                                    Aggreed <span class="text-success">(2)</span><br>
                                                    Denied <span class="text-danger">(2)</span>
                                                    <br>
                                                    Total invitation <span class="text-success">(4)</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">
                                                    <div class="form-check text-center">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            id="flexCheckDefault">
                                                    </div>
                                                </td>
                                                <td class="border-start p-2 text-center">Mr. X</td>
                                                <td class="border-start p-2">Yes</td>
                                                <td class="p-2 border-start text-center">Networking</td>
                                                <td class="p-2 border-start text-start">
                                                    Review in Progress <span class="text-danger">(2)</span><br>
                                                    completed Review <span class="text-danger">(2)</span>
                                                </td>
                                                <td class="p-2 border-start text-start">
                                                    Aggreed <span class="text-success">(2)</span><br>
                                                    Denied <span class="text-danger">(2)</span>
                                                    <br>
                                                    Total invitation <span class="text-success">(4)</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-outline-success btn-sm mt-3 px-5">Proceed</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include('common/footer'); %>