<!-- <div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<header style="box-shadow: 0 5px 5px 0px rgba(0,0,0,.3);background-color:white;"
    class="site-navbar js-sticky-header site-navbar-target text-white" role="banner">
    <div class="container-fluid ps-3 pe-3 navbar2">
        <div class="row align-items-center position-relative">
            <div class="site-logo m-md-0 p-md-0">
                <a style="padding:3px;" href="/" class="text-black d-none d-lg-block ms-2"><span class="text-primary">
                        <img style="width:45px" alt="" src="static/images/logo.png"></a>
            </div>
            <div class="col-12">
                <nav class="site-navigation site-navigation_2 text-end ms-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu w-100 js-clone-nav ms-auto p-0">
                        <li><a href="/v1/" class="nav-link">Home</a></li>
                        <li><a href="academic_journal" class="nav-link">Academic Journal</a></li>
                        <li class="has-children">
                            <a href="#about-section" class="nav-link">Information</a>
                            <ul class="dropdown arrow-top">
                                <li><a href="information" class="nav-link">For Authors</a></li>
                                <li><a href="information" class="nav-link">For Reviewers</a></li>
                                <li><a href="information" class="nav-link">For Editors</a></li>
                                <li><a href="information" class="nav-link">For Publishers</a></li>
                                <li><a href="information" class="nav-link">For Librarians</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="login" class="text-dark"><i style="color: black;" class="icon-user"></i>
                                Login/Register</a>

                        </li>
                    </ul>
                </nav>
            </div>
            <div class="toggle-button d-inline d-lg-none"><a href="#"
                    class="site-menu-toggle py-2 js-menu-toggle text-black"><span class="icon-menu h2"></span></a></div>
        </div>
    </div>

    <div class="dropdown">
        <p style="background-color: brown;" class="dropdown-toggle p-2 text-white text-center" role="button"
            id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">jkkniu open fficial journal
        </p>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</header> -->


<header>
    <div class="bg-white shadow-sm">
        <div>
            <div class="d-flex align-items-center justify-content-between">
                <div class="d-md-none d-block w-100">
                    <div class="row align-items-center w-100 g-0">
                        <div class="col-2 p-2">
                            <div class="w-100 h-100 d-flex align-items-center justify-content-center">
                                <a class="text-decoration-none fs-2" data-bs-toggle="offcanvas" href="#offcanvasExample"
                                    role="button" aria-controls="offcanvasExample">
                                    <i class="icon-menu"></i>
                            </div>
                            </a>
                            <div class="offcanvas offcanvas-start w-75" tabindex="-1" id="offcanvasExample"
                                aria-labelledby="offcanvasExampleLabel">
                                <div class="offcanvas-header border-bottom">
                                    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Journal</h5>
                                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <ul style="list-style-type: none;" class="m-0 p-0">
                                        <li class="p-2">
                                            <a href="/v1/" class="nav-link">Home</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="academic_journal" class="nav-link">Academic Journal</a>
                                        </li>
                                        <li class="p-2">
                                            <a href="/v1/auth/login" class="text-dark"><i style="color: black;"
                                                    class="icon-user"></i>
                                                Login/Register</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="p-2 text-center h-100 border-end border-start">
                                <h1>journal</h1>
                            </div>
                        </div>
                        <div class="col-2 p-2 text-end">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <img style="width:35px" alt="" src="static/images/logo.png"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <a style="padding:3px;" href="/" class="text-black d-none d-lg-block ms-2"><span class="text-primary">
                        <img style="width:45px" alt="" src="static/images/logo.png"></a>
                <div class="d-none d-lg-block">
                    <ul style="list-style-type: none;" class="d-flex m-0 p-0">
                        <li class="px-2">
                            <a href="/v1/" class="nav-link">Home</a>
                        </li>
                        <li class="px-2">
                            <a href="academic_journal" class="nav-link">Academic Journal</a>
                        </li>
                        <li class="px-2">
                            <a href="/v1/auth/login" class="text-dark"><i style="color: black;" class="icon-user"></i>
                                Login/Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d-md-none d-block">
            <div class="dropdown m-0">
                <p style="background-color: brown;" class="dropdown-toggle p-2 m-0 text-white text-center" role="button"
                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">jkkniu open fficial journal
                </p>
                <ul style="background-color: #001C54;"
                    class="dropdown-menu w-100 m-0 rounded-0 top-0 border-0 text-white"
                    aria-labelledby="dropdownMenuLink">
                    <li>
                        <a style="text-decoration: none; color:inherit" href="journal-details"
                            class="p-2 d-block border-bottom journal-tab-item">Home</a>
                    </li>
                    <li>
                        <a style="text-decoration: none; color:inherit" href="editorial-board"
                            class="p-2 d-block border-bottom journal-tab-item">Editorial Board</a>
                    </li>
                    <li>
                        <a style="text-decoration: none; color:inherit" href="current-issue"
                            class="p-2 d-block border-bottom journal-tab-item">Curent
                            Issue</a>
                    </li>
                    <li>
                        <a style="text-decoration: none; color:inherit" href="volume-issue"
                            class="p-2 d-block border-bottom journal-tab-item">Volume
                            and Issues</a>
                    </li>
                    <li>
                        <a style="text-decoration: none; color:inherit" href="contact-journal"
                            class="p-2 d-block journal-tab-item">Contact
                            the Journal</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>