<div class="bg-white shadow-sm p-3 mb-3">
    <h6 style="border-bottom:1px solid brown;" class="text-center pb-2 fw-bold">New Anouncement</h6>
    <div class="mb-2 border-bottom pb-2">
        <h5 style="color: brown; font-size:15px;" class="card-title fw-bold"> <a class="article-card-heading" style="color: inherit;" href="">Magnetic mitohormesis: A non-invasive therapy for inflammatory disorders?</a></h5>
        <!-- <p style="color: rgba(0,0,0,.8);font-size: 16px;" class="pt-1 m-0">By <span class="text-dark fw-bold">Rahman, et al.</span></p> -->
    </div>
    <div class="mb-2">
        <h5 style="color: brown;font-size:15px;" class="card-title fw-bold"> <a class="article-card-heading" style="color: inherit;" href="">Magnetic mitohormesis: A non-invasive therapy for inflammatory disorders?</a></h5>
        <!-- <p style="color: rgba(0,0,0,.8);font-size: 16px;" class="pt-1 m-0">By <span class="text-dark fw-bold">Rahman, et al.</span></p> -->
    </div>
</div>