<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">
    <title>journal</title>
</head>

<body>
    <?php include "shared/topnav_2"; ?>
    <?php include "shared/navbar_2"; ?>
    <?php include "shared/banner"; ?>
    <!-- body -->
    <div class="container-fluid p-4">
        <div>
            <div class="row bg-light align-items-center border bg-white p-2 ms-0 me-0">
                <div class="col-md-3 p-1">
                    <h6 class="fw-bold">Search for articles: </h6>
                </div>
                <div class="col-md-3 p-1">
                    <input class="fs-6 w-100" type="text" class="form-control" id="keyword" placeholder="Title / Keyword">
                </div>
                <div class="col-md-3 p-1">
                    <input class="fs-6 w-100" type="text" class="form-control" id="keyword" placeholder="Author">
                </div>
                <div class="col-md-3 p-1">
                    <button style="padding:2px 8px; border-radius: 0;" class="btn btn-outline-success">Search</button>
                </div>
            </div>
        </div>
        <div class="mt-3">
            <div class="row bg-white">
                <div class="col-md-4">
                    <div class="p-4 bg-white shadow m-md-1 box shadow-">
                        <h5 class="fw-bold">Information</h5>
                        <ul style="list-style-type: circle;">
                            <a class="hover-link text-dark" href="#">
                                <li>Overview</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Market-Specific Taxes
                                </li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Avoiding Surcharges from Extensive English Editing on Submitted Articles</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Funding of APCs and BPCs</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Discounts on APCs</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>General Peer-Review and Editorial Procedure</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Editorial Decision and Revision</li>
                            </a>
                            <a class="hover-link text-dark" href="#">
                                <li>Digital Preservation of MDPI Content</li>
                            </a>

                        </ul>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="p-4 bg-white m-md-1  box shadow">
                        <h4 class="text-center fw-bold mb-4">Information for Authors</h4>
                        <h5 class="fw-bold">Overview</h5>
                        <p>MDPI is a publisher of scholarly open access journals. All journals uphold a peer-reviewed, rapid, and rigorous manuscript handling and editorial process.</p>
                        <p>MDPI journals are the perfect place for you to publish your work under an open access license, in a fast and straightforward manner. Our journals are indexed in the leading databases and, since they are open access, have a broad readership.</p>
                        <p>As a pioneer open access publisher, our mission is to make new research findings accessible to everyone. We are serving scholars from across the globe and from a variety of backgrounds. To deepen our understanding of the research communities that we serve, we aim to build journals that are just as diverse and inclusive. Only by valuing differences can we create an equitable and inclusive work environment and foster the openness that is key to our mission.</p>
                        <p>The daily exchange of ideas between the East and the West has been at the heart of MDPI's progress from day one. We understand that diversity does not end there. More needs to be done to bridge the gap between the global North and South—and to create equal opportunities for people without regard to race, color, sex, gender identity, sexual orientation, age, religion, country of origin, physical ability, or socio-economic status. There is no place for discrimination on the basis of any one of these characteristics.</p>
                        <h5 class="fw-bold">Authors and Readers Benefit from MDPI’s Pledges to:</h5>
                        <ol style="list-style-type: square;">
                            <li>publish thoroughly peer-reviewed journals of high scholarly impact</li>
                            <li><b>maintain quick publication —</b> manuscripts are published within 5-7 weeks of submission (provided no major revisions are required)</li>
                            <li><b>publish full open access journals — </b>readers can access all content published on this platform for free</li>
                            <li><b>publish citation-tracked journals —</b> MDPI continuously works towards quick coverage and citation-tracking of all of its journals in the top databases of Scopus, Web of Science, PMC, PubMed, and MEDLINE, along with various other scope-specific databases</li>
                        </ol>
                        <h5 class="fw-bold">For Authors and Readers Open Access Means:</h5>
                        <ol style="list-style-type: square;">
                            <li><b>free availability</b> of the literature without any subscription or price barriers</li>
                            <li><b>maintain quick publication —</b> manuscripts are published within 5-7 weeks of submission (provided no major revisions are required)</li>
                            <li><b>publish full open access journals — </b>readers can access all content published on this platform for free</li>
                            <li><b>publish citation-tracked journals —</b> MDPI continuously works towards quick coverage and citation-tracking of all of its journals in the top databases of Scopus, Web of Science, PMC, PubMed, and MEDLINE, along with various other scope-specific databases</li>
                        </ol>
                        <h5 class="fw-bold">Market-Specific Taxes</h5>
                        <p>Authors from Switzerland will have the local Value Added Tax (VAT) added to their invoices. Japan residents will have the Japanese Consumption Tax (JCT) added to their invoices at the rate set by the Japanese government.</p>
                        <h5 class="fw-bold">Avoiding Surcharges from Extensive English Editing on Submitted Articles</h5>
                        <p>Submitted papers should be written in good English. Authors may use MDPI's English editing service prior to publication or during author revisions. If you use an alternative service that provides a confirmation certificate, please send a copy to the Editorial Office. Authors from economically developing countries or nations should consider registration with AuthorAid, a global research community that provides networking, mentoring, resources and training for researchers..</p>
                        <h5 class="fw-bold">Funding of APCs and BPCs</h5>
                        <p>Many funding agencies and institutions explicitly allow the use of research grants for the payment of APCs and BPCs for publishing open access articles and books. For more information on APC and BPC funding see the following page.</p>
                        <h5 class="fw-bold">Discounts on APCs</h5>
                        <p>Waivers may be granted at the Publisher's discretion and should be discussed with the editorial office when submitting the article. The editorial decision making is decoupled from the authors' ability to pay the Processing Charges, however authors should consider in advance whether they have sufficient funds to cover the full APC/BPC. MDPI also offers discount vouchers to selected reviewers.</p>
                        <h5 class="fw-bold">General Peer-Review and Editorial Procedure</h5>
                        <p>All manuscripts sent for publication in our journals are strictly and thoroughly peer-reviewed by experts (this includes research and review articles, spontaneous submissions, and invited papers). The Managing Editor of the journal will perform an initial check of the manuscript’s suitability upon receipt. The Editorial Office will then organize the peer-review process performed by independent experts and collect at least two review reports per manuscript. We ask our authors for adequate revisions (with a second round of peer-review if necessary) before a final decision is made. The final decision is made by the academic editor (usually the Editor-in-Chief/Editorial Board Member of a journal or the Guest Editor of a Special Issue). Accepted articles are copy-edited and English-edited.</p>
                        <h5 class="fw-bold">Editorial Decision and Revision</h5>
                        <p>All the articles, reviews and communications published in MDPI journals go through the peer-review process and receive at least two review reports. The in-house editor will discuss each step of the process with the external academic editor and communicate decisions to the authors regarding the following:</p>
                        <ol style="list-style-type: square;">
                            <li>Accept in Present Form: The paper is accepted without any further changes.</li>
                            <li>Accept after Minor Revisions: The paper is in principle accepted after revision based on the reviewer’s comments. Authors are given five days for minor revisions.</li>
                            <li>Reconsider after Major Revisions: The acceptance of the manuscript would depend on the revisions. The author needs to provide a point by point response or provide a rebuttal if some of the reviewer’s comments cannot be revised. A maximum of two rounds of major revision per manuscript is normally provided. Authors will be asked to resubmit the revised paper within ten days and the revised version will be returned to the reviewer for further comments. If the required revision time is estimated to be longer than 2 months, we will recommend that authors withdraw their manuscript before resubmitting so as to avoid unnecessary time pressure and to ensure that all manuscripts are sufficiently revised.</li>
                            <li>Reject and Encourage Resubmission: An article where additional experiments are needed to support the conclusions will be rejected and the authors will be encouraged to re-submit the paper once further experiments have been conducted.</li>
                            <li>Reject: The article has serious flaws, makes no original contribution, and the paper is rejected with no offer of resubmission to the journal.</li>
                        </ol>
                        <h5 class="fw-bold">Digital Preservation of MDPI Content</h5>
                        <p>To ensure indefinite preservation of our publications, all content published within an MDPI journal is permanently archived in the following databases:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <?php include "shared/footer"; ?>
    <!-- body -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
</body>

</html>